<div class="jdw-datalist" style="whitespace: no-wrap">

	<datalist id="{{ id }}">
		{% for value in datalist | sort %}
			<option value="{{ value }}">
		{% endfor %}
	</datalist>

	<input
		class="nicetext text fullwidth"
		type="text"
		autocomplete="off"
		name="{{ name }}"
		value="{{ value }}"
		{% if isListNamespaced %}list="{{ id }}"{% else %}list="{{ namespacedId }}"{% endif %}
		{% if settings.placeholder is not empty %}placeholder="{{ settings.placeholder }}"{% endif %}>

	<span class="fallback" style="display: none;">
		&nbsp;or&nbsp;
		<div class="select">
			<select data-datalist="{{ namespacedId }}">
				<option value="">{{ "Choose:" | t }}</option>
				{% for value in datalist | sort %}
					<option value="{{ value }}">{{ value}}</option>
				{% endfor %}
			</select>
		</div>
	</span>

</div>